@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');


:root {
    --titulos: 'Poppins', sans-serif;;
    --textos: 'Open Sans', Verdana;
    --destaque: 'Signika Negative', sans-serif;
    --botao: 'Titillium Web', sans-serif;
    --numeros: 'Courier New', Verdana;

    --azulescuto:  #03253B;
    --azulmedio: #002855;
    --azulclaro:  #007BFF;
    --gold: #FDEE7D;
    --cinza: #A0A0A0;
    --White: #F8F9FB;

}


* {
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: var(--titulos);
}

p {
    font-family: var(--textos);
}


/* Celular */

@media (max-width: 770px) {
    div#welcome h1 {
        font-size: 0.99em;
    }

}

@media (max-width: 450px) {
    body div#menu-cell {
        display: flex;
    }
}


@media (max-width: 450px) {
    body nav#menu-pc {
        display: none;
    }
}


/* Header */

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header#cabecalho {
    width: 70vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}


img#logo {
    width: 70px;
    height: 70px;
}

div#fundo-video {
    background-color: black;
    position: relative;
    z-index: -1;
}

video {
    width: 100%;
    min-height: 100vh;
    opacity: 0.3;
}


div#welcome {
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#welcome h1 {    
    width: 0;
    overflow: hidden; 
    border-right: .15em solid var(--gold); 
    font-family: var(--titulos);
    margin: 0 auto;
    white-space: nowrap; 
    letter-spacing: .15em; 
    color: white;
    animation: 
      typing 3.5s steps(40, end) 1s infinite,
      blink-caret .75s step-end infinite;
  }


  @keyframes typing  {
    from { width: 0% }
    to { width: 100% }
  }
  
 
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--gold);}
  }

/* Menu PC */

nav#menu-pc {
    width: 380px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

nav#menu-pc a {
    color: var(--White);
    text-decoration: none;
    font-family: var(--textos);
    font-size: large;
    transition: 0.5s;
    text-shadow: 1px 1px 2px #fdee7d4a;
}

nav#menu-pc a:hover {
    font-size: x-large;
    text-shadow: 1px 1px 4px #fdee7d78;
    color: #FDEE7D;
}

/* Menu cell */

div#menu-cell  {
    width: 30px;
    height: 100px;
    align-items: center;
    justify-content: right;
    display: none;
}   

div#menu-cell i {
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

menu {
    width: 190px;
    height: 192px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10000;
    transition: 0.5s;
    right: -150px; 
    position: relative;
}


menu#menucell a {
    background-color: rgba(255, 255, 255, 0.233);
    display: flex;
    color: var(--gold);
    font-size: large;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    width: 150px;
    border-radius: 90px 0px 0px 90px;
    margin-bottom: 10px;
    transition: 0.5s;
    font-family: var(--textos);
    backdrop-filter: blur(100px);
    margin-left: 150%; 
    animation: burger 3.5s forwards,
    burgerclose 3.5s forwards; 
    justify-content: space-evenly;
    box-shadow: 1px 2px #FDEE7D;
}


@keyframes burger {
    from {
        right: -250px; 
    }
    to {
        right: 0; 
        margin-left: -21%; 
    }
}



  menu#menucell a:hover {
    font-size: x-large;
  }




