@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');


:root {
    --titulos: 'Poppins', sans-serif;;
    --textos: 'Open Sans', Verdana;
    --destaque: 'Signika Negative', sans-serif;
    --botao: 'Titillium Web', sans-serif;
    --numeros: 'Courier New', Verdana;

    --azulescuto:  #03253B;
    --azulmedio: #002855;
    --azulclaro:  #007BFF;
    --gold: #FDEE7D;
    --cinza: #A0A0A0;
    --White: #F8F9FB;

}


/* Celular */

@media (max-width: 770px) {
    html body  main {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}


/* Corpo */

body {
    background-color: var(--cinza);
}

main {
    background-color: var(--White);
    padding: 20px;
    box-shadow: 2px 1px 10px 5px #00000061;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 80vw;
    overflow: hidden;
    background-color: #E3FFFA;
    justify-content: space-around;
}

div.cursos {
    width: 200px;
    height: 400px;
    background-color: #007bff42;
    margin: 20px;
    border: 1px solid var(--azulescuto);
    border-radius: 20px;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div.cursos h1 {
    font-size: 15px;
    width: 190px;
    height:100px;
}

div.cursos p {
    font-size: 10px;
}

div.imagens-curso {
    margin-bottom: 10px;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    border: 1px solid var(--azulescuto);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.247);

}

button#btn {
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 90px;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.247);
    border:1px solid var(--azulmedio);
    transition: 0.5s;
}

button#btn:hover {
    box-shadow: 2px 2px 12px 2px var(--azulescuto);
    font-size: large;

}

#curso1 {
    background-image: url(../Imagens/maquina.png);
}

#curso2 {
    background-image: url(../Imagens/block.png);
}