@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap');


:root {
    --titulos: 'Poppins', sans-serif;;
    --textos: 'Open Sans', Verdana;
    --destaque: 'Signika Negative', sans-serif;
    --botao: 'Titillium Web', sans-serif;
    --numeros: 'Courier New', Verdana;

    --azulescuto:  #03253B;
    --azulmedio: #002855;
    --azulclaro:  #007BFF;
    --gold: #FDEE7D;
    --cinza: #A0A0A0;
    --White: #F8F9FB;

}



/* Celular */

@media (max-width: 770px) {

    html body  main {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    main div#parametro {
        width: 90vw;
    }


}

/* PC */

#parametro {
    width: 75vw;
}

body {
    background-color: var(--cinza);
}

main {
    background-color: var(--White);
    padding: 20px;
    box-shadow: 2px 1px 10px 5px #00000061;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    overflow: hidden;
    background-color: #fdee7d7e;
}

h1, h2, p {
    margin: 2px 2px 8px 10px;
}